[submodule "libraries/libc/musl"]
	path = libraries/libc/musl
	url = https://github.com/eosio/musl
	branch = eosio
[submodule "libraries/libc++/libcxx"]
	path = libraries/libc++/libcxx
	url = https://github.com/eosio/libcxx
	branch = eosiosdk
[submodule "eosio_llvm"]
	path = eosio_llvm
	url = https://github.com/eosio/llvm
[submodule "tools/native_tester/Catch2"]
	path = tools/native_tester/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libraries/catch2/upstream"]
	path = libraries/catch2/upstream
	url = https://github.com/catchorg/Catch2.git
